
#buttons {
	display: inline-block;
	background-color: navy;
	color: white;
	height: 5%;
	/*width: 25%;*/
	width: 33.33%;
	float: left;
	text-align: center;
	margin: 0px;
	transition: 0.3s;
}

#button-text {
	display: inline-block;
	position: relative;
	top: 25%;
}

#buttons:hover {
	background-color: dodgerblue;
}


head {
	height: 5%;
	margin: 0px;
}

body {
	margin: 0px;
	overflow: hidden;
}