a.heading {
	display: block;
	text-align: center;
	border: 5px solid gray;
	background-color: black;
	width: 100%;
}

a.music {
	display: block;
	width: 40%;
}

a.listings {
	display: block;
	border: 5px solid gray;
}

h1 {
	color: white;
}

h4 {
	color: white;
}

body {
	width: 100%;
}

li {
	margin: 5px 0px;
}
	