a.heading {
	display: block;
	text-align: center;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	color: transparent;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	overflow: hidden;
}

#container {
	background: rgba(0,0,0,0.3);
	margin-left: 30%;
	width: 38%;
	padding: 1%;
	position: relative;
}

#opacityControl {
	overflow: hidden;
}

head {
	margin: 0px;
}

body {
	margin: 0px;
}

#buttons {
	display: inline-block;
	background-color: navy;
	color: white;
	height: 5%;
	width: 20%;
	float: left;
	text-align: center;
	margin: 0px;
	transition: 0.3s;
}

#button-text {
	display: inline-block;
	position: relative;
	top: 25%;
}

#buttons:hover {
	background-color: dodgerblue;
}


head {
	height: 5%;
}

a.music {
	display: inline-block;
	width: 40%;
}

a.listings {
	display: block;
}

h1 {
	color: white;
	font-size: 50px;
}

h4 {
	color: white;
	font-size: 24px;
}

body {
	width: 100%;
	overflow: hidden;
}

li {
	margin: 5px 0px;
}

#leftSide {
	display: inline-block;
	width: 20%;
	overflow: hidden;
	padding-top: 5%;
	padding-left: 2.5%;
	padding-right: 1%;
	font-size: 40px; 
	background-color: navy;
	height: 100%; /*This is super trash and should be changed */
	color: white;
	float: left;
}

#rightSide {
	display: inline-block;
	background-color: teal;
	position: relative;
	width: 76.5%;
	height: 100%;
	color: white;
}
	